.password-history {
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
