<div class="password-history">
  <p class="text-2xl mb-4">Passwords History</p>
  <table>
    <thead>
      <tr>
        <th class="bg-yellow-primary font-bold">Password</th>
        <th class="bg-yellow-primary font-bold">Date</th>
      </tr>
    </thead>
    <tbody>
      @for (passwordItem of passwordList; track passwordItem.password) {
      <tr>
        <td>{{ passwordItem.password }}</td>
        <td>{{ passwordItem.creationDate | date:'dd/MM/yyyy HH:mm' }}</td>
      </tr>
    }
    </tbody>
  </table>
</div>
