  <input class="w-1/2 p-5 mt-8" type="text" [value]="password()" readonly >

  <form [formGroup]="generatorForm.generatorForm" (ngSubmit)="generatePassword()">
    <div class="my-5 grid grid-cols-3 gap-3">
      <div class="flex flex-col">
        <p class="text-lg">Password length</p>
        <input
        type="number"
        class="square-input w-1/2 p-5 text-center mt-1"
        min="1"
        max="50"
        formControlName="passwordLength">
      </div>
      <div class="checkbox-group">
        <label>
          <input type="checkbox" formControlName="uppercase"> Uppercase
        </label>
        <label>
          <input type="checkbox" formControlName="lowercase"> Lowercase
        </label>
      </div>

      <div class="checkbox-group">
        <label>
          <input type="checkbox" formControlName="numbers"> Numbers
        </label>
        <label>
          <input type="checkbox" formControlName="specialChar"> Special character
        </label>
      </div>
    </div>

    <div class="flex flex-col justify-center">
      <button type="submit">Generate Password</button>
      @if(errorMessage) {
        <p class="text-red">{{ errorMessage }}</p>
      }
    </div>
  </form>
